*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: 'Telenor';
  src: url(./fonts/Telenor-Regular.otf);
}

body {
  font-family: 'Telenor';
}
